h1 {
text-align: center;
font-size: 60px;
margin: 0;
padding: 0;
}
body{
    background-color: rgb(255, 215, 222);
}
.container{
justify-content:space-evenly;
display: flex;
flex-wrap: wrap;


}

.agent-img{
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;

}

.agent-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(25% - 20px);
    height: 50vh;
    margin: 30px;
    border-style: solid ridge;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
}

.agent-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    background-color: rgb(247, 229, 232);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    animation: bob 0.5s infinite alternate;
    border: 2px solid #ff9b9b;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.5);
}
.agent-card .agent-img{
    transition: transform 0.2s ease-in-out;
}
.agent-card:hover .agent-img{
    transform: scale(1.1);
}
@keyframes bob{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes changing-colors {
    from {color: #0dd45a;}
    to {color: #1b27b2;}
 }
div{
    border-radius: 40px;
    display: flex;
    text-align: center;
    padding: 0;
    margin: auto;
    
}

.agent-name{
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Caveat', cursive;
    animation-name: changing-colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@media screen and (max-width:1200px) {
    .agent-card{
        width:40%;
    }
}
@media screen and (max-width:800px) {
    .agent-card{
        width:100%;
    }
}
